body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #d4d7d8;
}

/* .navbar {
  background-color: #01c8e5;
  text-align: center;
}

.navbar a {
  display: inline-block;
  padding: 10px;
  color: #fff;
  text-decoration: none;
} */

.page-info {
  text-align: center;
  font-weight: bold;
}

img {
  height: 10vh;
}

/* .App {
  text-align: left;
} */

/* .secondary-main {

} */

.top-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.App-header {
  background-color: rgb(48, 51, 49);
  height: 10vh;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2em;
  text-align: center;
}

.App-intro {
  font-size: large;
}


/* Choose playlist */

.playlist-types {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@keyframes Spotify-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spotify-logo {
  width: 100vw;
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  animation: Spotify-logo-spin infinite 20s linear;
}

.choose-button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  height: 40vh;
}


.choose-button {
  background: #4d5f6b;
  background-image: -webkit-linear-gradient(top, #4d5f6b, #969ea3);
  background-image: -moz-linear-gradient(top, #4d5f6b, #969ea3);
  background-image: -ms-linear-gradient(top, #4d5f6b, #969ea3);
  background-image: -o-linear-gradient(top, #4d5f6b, #969ea3);
  background-image: linear-gradient(to bottom, #4d5f6b, #969ea3);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin: 5px 10px 5px 10px;
  text-decoration: none;
  width: 80vw;
}

.choose-button:hover {
  background: #473947;
  background-image: -webkit-linear-gradient(top, #473947, #727980);
  background-image: -moz-linear-gradient(top, #473947, #727980);
  background-image: -ms-linear-gradient(top, #473947, #727980);
  background-image: -o-linear-gradient(top, #473947, #727980);
  background-image: linear-gradient(to bottom, #473947, #727980);
  text-decoration: none;
  margin: 5px 10px 5px 10px;
  width: 80vw;
}


/* Find playlist */

#user-playlists {
  display: flex;
  flex-direction: column;
}

.playlist-item {
  width: 100vw;
  flex-direction: row;
  display: flex;
}


.Playlist-selector {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
}

.Playlist-selector-left {
  width: 33vw;
  height: 10vh;
  align-items: center;
  display: flex;
  justify-content: center;
}

.Playlist-selector-right {
  width: 67vw;
  height: 10vh;
  align-items: center;
  display: flex;
  font-size: 1.5em;
}

.button-playlist{
  background:rgb(26, 175, 63);
  color:#fff;
  border:none;
  height:5vh;
  font-size:1em;
  padding:0 2em;
  cursor:pointer;
  border-radius: 15px;
  transition:800ms ease all;
  outline:none;
}
.button-playlist:hover{
  background: #fff;
  color:rgb(26, 175, 63);
}
.button-playlist:before,.button-playlist:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: rgb(26, 175, 63);
  transition:400ms ease all;
}
.button-playlist:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.button-playlist:hover:before,.button-playlist:hover:after{
  width:100%;
  transition:800ms ease all;
}
/* Song list */

.user-tracks {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

.song-details {
  display: flex;
  align-content: space-around;
  width: 60vw;
  flex-direction: column;
}

/* Playlist Queue / interactive */

.queue-item {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.Interactive-root {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 25vw;
  align-items: center;
}

/* Single Playlist */

/* .Single-playlist {
  display: flex;
  height: 100vh;
  flex-direction: row;
} */

.playlist-button-wrapper {
  display: flex;
  height: 10vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.button-play {
  font-size: 1.5em;
}

.playlist-button {
  width: 30vw;
  height: 5vh;
  display: flex;
  justify-content: space-around;

}

